# API
JWT_SECRET=change-me
MONGODB_URI=mongodb://mongo:27017/creatorflow
REDIS_URL=redis://redis:6379/0
OAUTH_ENCRYPTION_KEY=Q3JlYXRvckZsb3dLZXlDcmVhdG9yRmxvd0tleSEhIQ==
OPENAI_API_KEY=

# FRONTEND
NUXT_PUBLIC_API_BASE=http://localhost:8000
